<!DOCTYPE HTML>
<html>
<head>
    <title>Board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Board.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Board</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            {{#users}}
                Logged in as: <span id="user">{{users}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                <a href="/userUpdate" class="btn btn-outline-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                        <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                    </svg>
                </a>
            {{/users}}
            {{^users}}
                <li class="nav-item">
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                </li>
                <li class="nav-item">
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/join" role="button" class="btn btn-link">회원 가입</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/login" role="button" class="btn btn-link">로그인</a>
                </li>
            {{/users}}
        </ul>
    </div>
</nav>