h1{
    text-align: center;
}




.input-group{
    position: relative;
    width: 300px;
    bottom: 20px;
    margin: 25px auto;
}
.pagination{
    justify-content: center;
}
.container {
    width: 1080px;
    height: 780px;
    margin: auto;
    margin-top: 30px;
}


