<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Board </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Board</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-link">회원 가입</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-link">로그인</button>
                </li>
            </ul>
            <div id="btnWrap">
            </div>
        </div>
    </nav>
    <h1>Board</h1>
    <div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">글 번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일자</th>
            <th scope="col">조회수</th>
            <th scope="col">추천</th>
        </tr>
        <tr th:each="post: ${posts}">
            <td th:text="#{post.id}"></td>
            <td><a th:href="#{post.title}"></a></td>
            <td th:text="#{post.author}">작성자</td>
            <td th:text="#{post.createdDate}">작성일자</td>
            <td th:text="#{post.view}">조회수</td>
            <td th:text="#{post.recommend}">추천</td>
        </tr>
        <a href="/posts/save" class="btn btn-primary btn-sm active float-right" role="button" aria-pressed="true">글 쓰기</a>
        </thead>
    </table>
    </div>
    <div>
        <ul class="pagination pagination-sm">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input">
            <a href="#" class="btn btn-outline-secondary float-right" role="button" aria-pressed="true">search</a>
    </div>
    <div th:replace="fragments/footer :: footer" />
</body>
</html>